<div class="sections">
  <div class="left-section">
    <div class="profile-section">
      <div class="profile-image">
        <img src="assets/images/profile.jpg" />
      </div>
      <div class="profile-details"></div>
    </div>
    <div class="menu-section">
      <mat-selection-list [multiple]="false">
        <mat-list-option  *ngFor="let menu of menuList" value="menu" (selectedChange)="onRouteChange(menu)">
          {{ menu }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
  <div class="right-section">
    <router-outlet></router-outlet>
  </div>
</div>
