.sections {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: max-content 1fr;

  .left-section {
    height: 100%;
    width: 300px;
    background-color: #040b14;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .profile-section {
      height: max-content;
      width: max-content;
      padding: 12px;
      .profile-image > img {
        width: 10em;
        height: 10em;
        background-color: aliceblue;
        border-radius: 50% !important;
        border: 0.543em solid #e3e7ed;
        background-position: center;
        background-size: cover;
      }
    }
    .menu-section {
      width: 100%;
    }
  }
  .right-section {
    background-color: #040b14;
    width: 100% !important;
    height: 100%;
  }
}
