.page-not-found {
  background-image: url('https://previews.123rf.com/images/monuttanit/monuttanit1804/monuttanit180400062/99334573-p%C3%A1gina-de-error-404-no-encontrado-fondo-gr%C3%A1fico-de-enchufe-de-vector.jpg');
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
